*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    padding: 40px 40px 20px 90px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: space-between; */
    gap: 25px;
    /* padding: 30px; */
    
}
nav ul li{
    display: flex;
    align-items: center;
    font-style: normal;
    list-style: none;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(3, 1, 14);
    margin-right: 30px;
}
nav ul li:hover{
    color: rgb(16, 224, 68);
}
nav ul li img{
    height: 40px;
    /* padding: 2px 20px; */
}
nav ul button{
    margin-left: 500px;
    background-color: #5955b3;;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: #ffff;
    text-align: center;
    align-items: center;
    font-weight: 600px;
}
nav ul button:hover{
    background-color: #190fc9;
}
section{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.heading1{
    font-size: 50px;
    margin-left: 10px;
    line-height: 85px;
    font-weight: 600;
    color: #3c2f60;
    font-style: normal;
    /* padding: 2px 20px; */
}
.heading1 span{
    color: #5955b3;
}
.p{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
}
.btn button{
    margin-top: 50px;
    padding: 15px 20px;
    background-color: #5955b3;
    color: #ffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
.btn button:hover{
    background-color: #190fc9;
}
.right img{
    padding-right: 42px;
    height: 600px;
    margin-top: 30px;
}